.users {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include element('add-user') {
    display: flex;
    flex-direction: column;

    & > * {
      margin: 0.5rem 0;
    }
  }

  @include modifier('header') {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include modifier('title') {
      margin: 0 !important;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    & > button {
      color: dodgerblue;
      border-color: dodgerblue;
    }
  }

  .ant-card-body {
    height: 100%;
    padding: 5px;
  }

  .scrollarea {
    height: 100%;

    .scrollarea-content .ant-card-grid {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: $background-color;
      cursor: pointer;
      width: 100%;
      margin: 5px 0;
      padding: 10px;

      & > * {
        margin: 0 10px;
      }
    }
  }
}
