* {
  outline: none;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', 'Source Sans Pro', Arial, sans-serif;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  // background-color: rgb(30,34,39);
  background-color: #f4f7fd;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
