.ant-divider {
  margin: 10px 0 !important;
}

.ant-menu {
  border-right: none !important;
}

.ant-empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
