// Z-Index variables
$zindex-negative: -10;
$zindex-default: 1;
$zindex-normal: 2;
$zindex-hard: 3;
$zindex-header: 300;
$zindex-overlay: 400;

// Media variables
$media-s: 600px;
$media-m: 960px;
$media-l: 1280px;
$media-xl: 1920px;

// White Pallete Colors
$background-color: #fff;
