.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @include modifier('column') {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--google, &--facebook {
    width: 3rem;
    cursor: pointer;
  }
}
