.users {
  background-color: $background-color;
  box-shadow: 0px 25px 25px -25px rgba(0, 0, 0, 0.04),
              0px -25px 25px -25px rgba(0, 0, 0, 0.04),
              25px 0px 25px -25px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  border-radius: 0px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 1px solid #e8e8e8;

  @include element('add-user') {
    display: flex;
    flex-direction: column;

    & > * {
      margin: 0.5rem 0;
    }
  }

  @include modifier('header') {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include modifier('title') {
      margin: 0 !important;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    & > button {
      color: dodgerblue;
      border-color: dodgerblue;
    }
  }

  @include modifier('name') {
    width: 8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ant-card-body {
    height: 100%;
    padding: 5px;
  }

  .scrollarea {
    height: 100%;

    .scrollarea-content .ant-card-grid {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: $background-color;
      cursor: pointer;
      width: 100%;
      margin: 5px 0;
      padding: 10px;

      & > * {
        margin: 0 10px;
      }
    }
  }
}
